@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body {
  background-color: hsl(0, 0%, 8%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 360px;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card__avatar {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  overflow: hidden;
  margin: 40px 0;
}

.card__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}

.card__para--1 {
  color: hsl(75, 94%, 57%);
  font-weight: 700;
  margin-bottom: 40px;
}

.card__para--2 {
  color: hsl(0, 0%, 100%);
  /* margin-bottom: 20px; */
}

.card__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.card__social a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.card__social a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.attribution {
  color: white;
}
